[submodule "submodules/cocos2d-x"]
	path = submodules/cocos2d-x
	url = git@github.com:cocos2d/cocos2d-x.git
[submodule "submodules/growthpush-android"]
	path = submodules/growthpush-android
	url = git@github.com:SIROK/growthpush-android.git
[submodule "submodules/growthpush-ios"]
	path = submodules/growthpush-ios
	url = git@github.com:SIROK/growthpush-ios.git
